if errors
    for error in errors
        .alert.alert-dismissable.alert-warning.mt-2
            button.close(type="button" data-dismiss="alert") &times;
            p.mb-0 #{error.msg}

if error
    .alert.alert-dismissable.alert-warning.mt-2
        button.close(type="button" data-dismiss="alert") &times;
        p.mb-0 #{error}

if success_msg
    .alert.alert-dismissable.alert-success.mt-2
        button.close(type="button" data-dismiss="alert") &times;
        p.mb-0 #{success_msg.msg}