extends layout

block content
  .container
    .row.mt-5
      .col-md-6.m-auto
        .card.card-body.text-center
          h1
            i.fab.fa-node-js.fa-3x
          p Create an account or login
          a.btn.btn-primary.btn-block.mb-2(href="/users/register") Register
          a.btn.btn-secondary.btn-block.mb-2(href="/users/login") Login