extends layout

block content
    .container
        .row.mt-5
            .col-md-6.m-auto
                .card.card-body
                    h1.text-center.mb-3 
                        i.fas.fa-sign-in-alt.mr-2 
                        |  Login 
                    form(action="/users/login", method="post")
                        .form-group
                            label(for="email") Email
                            input.form-control(type="email" id="email" name="email" placeholder="Enter Email")
                        .form-group
                            label(for="password") Password
                            input.form-control(type="password" id="password" name="password" placeholder=" Password")
                        button.btn.btn-primary.btn-block(type="submit") Login
                    p.lead.mt-4 Don't have an account?&nbsp;
                        a(href="/users/register") Sign up here!
                    include includes/errors.pug

