extends layout

block content
    include includes/navbar.pug

    .container.mt-5
        .row
            .col-md-12
                h3 #{projectName}
                a.btn.mb-2.float-right.text-muted(href="/dashboard")
                    i.fas.fa-arrow-left.mr-2 
                    i Go Back
                p #{description}
                
                table.table.table-hover.mt-2
                    thead
                        tr
                            th(scope="col") Task
                            th.d-none.d-sm-block(scope="col") Description
                            th(scope="col") Due
                            th(scope="col") Actions
                    tbody
                        each val in milestones
                            if val.completeDate
                                tr.table-default.text-success
                                    td.task-name(scope="row")
                                        a.text-success(href="/project/" + projectID + "/view/" + val._id) #{val.title}
                                    td.d-none.d-sm-block #{val.description}
                                    td #{val.due_date}
                                    td
                                        .dropdown
                                            button.btn.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                            .dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenuButton")
                                                a.dropdown-item(data-toggle="modal" title="Complete Task" data-target="#complete-task"+val._id) Complete
                                                a.dropdown-item(href="/project/" + projectID + "/edit/" + val._id title="Edit Task") Edit
                                                a.dropdown-item(data-toggle="modal" title="Delete Task" data-target="#delete-task"+val._id) Delete
                            else
                                tr.table-default
                                    td.task-name(scope="row")
                                        a.text-white(href="/project/" + projectID + "/view/" + val._id) #{val.title}
                                    td.d-none.d-sm-block #{val.description}
                                    td #{val.due_date}
                                    td
                                        .dropdown
                                            button.btn.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                            .dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenuButton")
                                                a.dropdown-item(data-toggle="modal" title="Complete Task" data-target="#complete-task"+val._id) Complete
                                                a.dropdown-item(href="/project/" + projectID + "/edit/" + val._id title="Edit Task") Edit
                                                a.dropdown-item(data-toggle="modal" title="Delete Task" data-target="#delete-task"+val._id) Delete

                            //- Complete task form modal
                            .modal.fade(id="complete-task" + val._id tab-index="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            h5.modal-title Complete Task
                                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                                span(aria-hidden="true") &times;
                                        .modal-body
                                            form#complete-form(action="/project/" + projectID + "/complete-task/" + val._id method="POST")
                                                p Enter the date when the task was completed
                                                .form-group
                                                    label.col-form-label(for="completion-date") Completion Date
                                                    input#completion-date.form-control(type="date", name="completionDate")
                                                button.btn.btn-primary.btn-block(type="submit") Save

                            //- Delete task form modal
                            .modal.fade(id="delete-task"+ val._id tab-index="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true")
                                .modal-dialog(role="document")
                                    .modal-content
                                        .modal-header
                                            h5.modal-title Delete Task
                                            button.close(type="button" data-dismiss="modal" aria-label="Close")
                                                span(aria-hidden="true") &times;
                                        .modal-body
                                            p Are you sure you want to delete this task?
                                            form#delete-form(action="/project/" + projectID + "/delete-task/" + val._id method="POST")
                                                button.btn.btn-danger.btn-block(type="submit") Delete

    //- Add new task button
    button.add-btn(data-toggle="modal" title="New Task" data-target="#newTask")
        i.fas.fa-plus

    //- New Task form modal
    #newTask.modal.fade(tab-index="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title New Task
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    form(action="/project/" + projectID + "/task/new" method="POST")
                        .form-group
                            label.col-form-label(for="title") Title
                            input#title.form-control(type="text", name="title")
                        .form-group
                            label.col-form-label(for="description") Description
                            textarea#description.form-control(rows="3", name="description")
                        .form-group
                            label.col-form-label(for="due_date") Due Date
                            input#due_date.form-control(type="date", name="due_date")
                        button.btn.btn-primary.btn-block(type="submit") Save

